/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donateButton {
  --ifm-button-background-color: #0077cc;
  --ifm-button-border-color: #0077cc;
  --ifm-button-color: #ffffff;
}

.donateButton:hover {
  --ifm-button-background-color: #005fa3;
  --ifm-button-border-color: #005fa3;
}
